header
    #top
        nav.navbar.navbar-default(role="navigation")
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button",data-target="#navbar-collapse",data-toggle="collapse",aria-expanded="false")
                        a#nav-icon
                            span
                    a.navbar-brand
                .navbar-collapse.collapse#navbar-collapse
                    ul.nav.navbar-nav.navbar-right#contact
                        li.contact-items
                            .contact-em
                                p tk@reclamare.com.ua
                            .contact-ph
                                p +38 (067) 892-04-01
                        li.contact-items
                            .contact-ad
                                p Киев, пер.Островского 1
                            .contact-sk
                                p kate-reclamare


