-var jsPath='./js/'
-var bootstrapJsPath='./css/bootstrap-3.3.6-dist/js/'
script(src=jsPath+"jquery.min.js")
script(src=bootstrapJsPath+"bootstrap.js")
script(src=jsPath+"parallax.js")
script(src=jsPath+"scripts.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkeUJ0tsZf18fXIa61D9lGSk0jj_1HERk&amp;v=3")