@import "variables";
header{
  color: $white;
}
#top {
  height: 130px;
  background-color: $top-color;
  .navbar-default, .navbar-toggle{
    background-color: $top-color;
    border: none;
  }
}
#nav-icon {position: relative; display: inline-block; width:35px; height:25px;}
#nav-icon span { position: absolute; left: 0; top: 10px; }
#nav-icon span,
#nav-icon span:before,
#nav-icon span:after {
  position: absolute;
  display: block;
  content: '';
  height: 3px;
  width: 45px;
  background: white;
  border-radius: 1px;
  cursor: pointer;
}
#nav-icon span:before {
  top: -10px;
}
#nav-icon span:after {
  bottom: -10px;
}
#nav-icon span, #nav-icon span:before, #nav-icon span:after {
  transition: all 500ms ease-in-out;
}
#nav-icon.active span {
  background-color: transparent;
}
#nav-icon.active span:before, #nav-icon.active span:after {
  top: 0;
}
#nav-icon.active span:before {
  transform: rotate(45deg);
}
#nav-icon.active span:after {
  transform: rotate(-45deg);
}
.navbar-brand {
  position: relative;
  float: left;
  background-image: url("#{$imgPath}logo.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 90px;
  margin-top: 25px;
}
.navbar-toggle {
  margin-top: 35px;
  margin-right: 25px;
}

#contact {
  padding-top: 25px;
  li:last-child{
    padding-right: 70px;
  }
  .contact-items {
    float: right;
    .contact-em {
        p:before{
          content: url("#{$imgPath}email.png");
          padding: $padding;
        }}
    .contact-ph {
      p:before{
        content: url("#{$imgPath}phone.png");
        padding: $padding;
      }}
    .contact-ad {
      p:before{
        content: url("#{$imgPath}adress.png");
        padding: $padding;
      }}
    .contact-sk {
      p:before{
        content: url("#{$imgPath}skype.png");
        padding: $padding;
      }}
    p {
      margin-top: 10px;
      height: 30px;
      font-size: 16px;
    }
  }
}

.top-content{
  background-color: $top-content-color;
  height:348px ;
  color: $white;
}
.top-text{
  float: left;
  padding-top:93px;
}
.top-img{float: right;
  position: inherit;
  padding-top: 34px;}

