@import "reset";
@import "mixins";
@import "footer";
@import "header";
@import "variables";
@import "features";
@import "certificates";
@import "plan";

@font-face {
  font-family: 'Exo 2', sans-serif;
  src:url("#{$font_path}Exo2-Regular.woff") format("woff"),
      url("#{$font_path}Exo2-Regular.woff2") format("woff");
}
@font-face {
  font-family: 'Exo 2', sans-serif;
  src:url("#{$font_path}Exo2-Bold.woff") format("woff"),
      url("#{$font_path}Exo2-Bold.woff2") format("woff");
}
.container {
  max-width: 1128px;
  margin: auto;
}
.advertising
{
  height: 100%;
  background-color:$orange ;
  color: $white;
  @include advertising;
  p {
    margin-top: 3% ;
    margin-bottom: 3%;
  }
}
#order-form{
  background: $space-color ;
  overflow: hidden;
  //url("#{$imgPath}footer-bg.png")

}
#scene .layer.stars {
  overflow: hidden;
  height: 650px;
}
#scene .layer.rocketmen {
  bottom: 5% !important;
  top: auto !important;
  left: 10% !important;
    img{
      width: 100%;
    }

}
#scene .clouds {
  background: url("#{$imgPath}cloud.svg") repeat-x -50% 0;
  width: 200%;
  height: 100%;
}
#scene .layer.cloud {
  bottom: -10%;
  left: -20% !important;
  top: auto !important;
  display: block;
  width: 100%;
  height: 150px;
}

//.clouds {
//  padding-bottom: 100px;
//  position: relative;
//    &:after{
//      content: '';
//      background:  url("#{$imgPath}cloud.svg") repeat-x 0 0;
//      position: absolute;
//      height: 100px;
//      width: 100%;
//      display: block;
//      right: 0;
//      left: 0;}
//}

//.rocketmen {
//  position: inherit;
//  margin-top: -25px;
//  float: left;
//  margin-bottom: 100px;
//}
.order-f {
  background-color: $white;
  border-radius: 10px;
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 20%;
}
.order-blank{
  text-align: center;
  padding-top: 37px ;
  margin-bottom: 37px;
  h1 {
    color: $orange;
  }
  input {
    width: 85%;
    border-radius: 5px;
    margin: 12px;
    height: 47px;
    border:1px solid $color-light-grey ;
    padding-left: 25px;
  }
}
.keywords input {
  height: 192px;
}
.button-rocket {
  h3{color:$white;
    position: absolute;
    margin-top: -14%;
    margin-left: 13%;
 }
  button {
    background-color: transparent;
    border: none;
  }
  img{
    width: 100%;
  }
}
#order-space{
  height: 200px;
  background-color: $space-color;
  text-align: center;
  overflow: hidden;
  .button-rocket-second{
    margin-left: 40%;
    margin-top: 5%;
    button {
      border: none;
      background-color: transparent;
    }
    h3 {color:$white;
      position: absolute;
      margin-top: -55px;
      margin-left: 55px;
      font-size: 33px;
      font-weight: bold;
    }
    img{
      width: 100%;
    }
  }
}
#scene-1 .layer.stars {
  overflow: hidden;
  max-height: 150px;
}

.seo-text
{
  background-color: #dddddd;
  height: 100%;
  @include advertising;
  padding-top: 3%;
  padding-bottom: 3%;
}
.clients {
  text-align: center;
  color: $orange;
 h1{
  opacity: 0.8;
   padding: 50px  0 50px 0;
  }
  .clients-item{
    img.grayscale {
      filter: grayscale(100%);
    }
    img.grayscale:hover{

      filter: none;
      filter:grayscale(0%);
    }
    img{
      max-width: 100%!important;
      height: auto!important;
      padding: 5px;
      z-index: 1;
    }
  }
  .grayscale.grayscale-replaced > svg {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .grayscale.grayscale-replaced.grayscale-fade:hover > svg {
    opacity: 0;
  }
}
.scrolloff {
  pointer-events: none;
}
.google-map{
  position: relative;
  width: 100%;
}
.contact-phone {
  background-color: $orange;
  opacity: 0.8;
  height: 63px;
  width: 29%;
  color:$white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  left: 71%;
  top:15%;
  h3 {
    margin-top: 3%;
    padding-left: 15%;
  }
}
.map-logo{
  position: absolute;
  top:50%;
  left: 50%;
}
.clients-item {
  img{
    margin: 20px;
  }
}
%button-rocket {
  button{
    background: transparent;
    border: none;
    h3 {
      color: $white;
      margin-top: -14%;
      margin-right: 25%;
    }
  }
}
%input-style {
  input {
    width: 85%;
    border-radius: 5px;
    margin: 12px;
    height: 47px;
    border:1px solid $color-light-grey ;
    padding-left: 25px;
  }
  h1 {
    color: $orange;
  }
}
.modal {
  text-align: center;
  .button-rocket{
    @extend %button-rocket;}
  @extend %input-style;
  .keywords input {
    height: 120px;
  }
  .modal-header {
    border: none;
  }
  .close {
    opacity: 1;
  }
  .modal-dialog{
    width: 60%
  }
  .order-blank {
    padding-top: 0;
  }
}
@media (max-width: 1200px) and (min-width: 981px){
  .img-google img{
    width: 100%;
  }
  .center-left, .center-right {
    margin-top: 115px;
  }
  #scene .layer.stars {
    height: 900px;
  }
  #scene .layer.rocketmen {
    bottom: 5% !important;
    top: 10% !important;
    left: 7% !important;
  }
  #scene .layer.cloud {
    bottom: -5%;}
}
@media (max-width: 980px)and (min-width: 768px){
  .item-top:before,.item-bottom:before,.item-center:before{
    float:left;
    content: url("#{$imgPath}blue-dot.png");
  }
  .item-top,.item-bottom,.item-center {
    text-align: left;
      p{
        padding-left: 20px;
      }
  }
  .center-left, .center-right {
    margin-top: 0;
  }
  .center-right-text,.bottom-right-text,.center-left-text {
    float: none;
  }
  .item {
    padding-bottom: 25px;
  }
  .plan {
    li:before{
      content: url("#{$imgPath}half-arrow.png");
    }
    h1{
      font-size: 28px;
    }
    .plan-item{
      float: none;
      p{
        padding-left: 40px;
      }
    }
  }
  .seo-text{
    height: 100%;
    padding-bottom: 30px;
  }
  .clients-item {
    height: 140px;
    img{
      width: 140px;
      margin: 10px;
    }
  }
  #scene .layer.stars {
    height: 900px;
  }
  #scene .layer.rocketmen {
    bottom: 5% !important;
    top: 10% !important;
    left: 3% !important;
  }
  #scene .layer.cloud {
    bottom: -5%;}
  #order-space {
    .button-rocket-second{
      margin-top: 8%;
    }
  }
}
@media (max-width: 767px){
  .top-content {
    height: 100%;
  }
  .top-img{
    text-align: right;
    img{
      width: 100%;
    }
  }
  .item-top:before,.item-bottom:before,.item-center:before{
    float:left;
    content: url("#{$imgPath}blue-dot.png");
  }
  .item-top,.item-bottom,.item-center {
    text-align: left;
    p{
      padding-left: 20px;
    }
  }
  .center-left, .center-right {
    margin-top: 0;
  }
  .center-right-text,.bottom-right-text,.center-left-text {
    float: none;
  }
  .item {
    padding-bottom: 25px;
  }
  .img-google img{
    width: 100%;
  }
  .advertising{
    height: 100%;
 }
  h1{
    font-size: 32px;
  }
  h3{
    font-size: 24px;
  }
  .plan {
    &:before{
      height: 100px;
      margin-top: -2px;
    }
    li:before{
      content: url("#{$imgPath}half-arrow.png");
    }
    h1{
      font-size: 28px;
    }
    ul {
      padding-top: 0px;
    }
    .plan-item{
      float: none;
      margin: 10px 20px 0px 20px;
      p{
        padding-left: 20px;
        font-size: 13px;
      }
    }
  }
  .rocket-img {
    padding-left: 0px!important;
    padding-top: 100px;
  }
  .seo-text{
    height: 100%;
    padding-bottom: 30px;
  }
  .clients-item {
    height: 120px;
    img{
      width: 120px;
      margin: 10px;
    }
  }
  #scene .layer.stars {
    height: 700px;
  }
  #scene .layer.rocketmen {
    bottom: 5% !important;
    top: 2% !important;
    left: -4% !important;
    img {
      width: 55%;
    }
  }
  #scene .layer.cloud {
    bottom: -10%;}
  #order-form{
    h1 {
      font-size: 20px;
    }
    h3{
      font-size: 15px;
      margin-top: -12%;
      margin-left: 20%;
    }
  }
  .order-f {
    margin-top: 10%;
    margin-left: 32%;
    margin-right: 2%;
  }
  #order-space {
    .button-rocket-second {
      margin-left:10%;
      margin-top: 24%;
    h3 {
      font-size: 17px;
      margin-top: -12%;
      margin-left: 25%;
    }
      img{
        width: 90%;
      }
    }
  }
  #contact {
    padding-top: 0;
    li:last-child{
      padding-right: 0;
    }
    .contact-items {
      float: none;
      text-align: center;
    }
  }
  .navbar-collapse {
    border: none;
    background-color: $top-content-color;
  }
  .order-blank {
    input {
      height: 30px;
      margin: 8px;
      padding-left: 10px;
    }
    .keywords input{
      height: 132px;
    }
  }
  .navbar-brand {
    background-image: url("#{$imgPath}logo-mob.png");
    margin-left: 44px;
  }
  #top {
    height: 84px;
  }
  .navbar-collapse {
    position: relative !important;
    z-index: 1 !important;
  }
  #contact {
    .contact-em {
      p:before{
      display: block;
      }}
    .contact-ph {
      p:before{
        display: block;
      }}
    .contact-ad {
      p:before{
        display: block;
      }}
    .contact-sk {
      p:before{
        display: block;
      }}
    .contact-items {
      p {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .modal {
    .modal-dialog {
      width: auto;
    }
    .button-rocket {
      img {
        width: 100%;
      }
      h3 {
        font-size: 20px;
        margin-left: 20%;
        margin-top: -12%!important;
      }
    }

  }
  .contact-phone {
    width: 60%;
    height:43px;
    left: 40%;
    h3 {
      font-size: 21px;
    }
  }
}